html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
:root {
  --main-font-family: "Inter", sans-serif;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  height: 666px;
  background-color: #edf2ec;
}
.logo-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 688.83px;
  padding: 42px 109px 42px 111px;
}

/* Logo */
.logo-company {
  display: flex;
  align-items: baseline;
  padding-bottom: 6px;
}
.logo {
  width: 20px;
  height: 20px;
  padding-left: 1.05px;
}
.company {
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

/* Navigation */
.nav {
  width: 452px;
  height: 50px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin: 0;
  padding: 0;
}
.nav-item {
  list-style: none;
}
.nav-link {
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #010201;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link:hover {
  color: #e06733;
}

/* Welcome */
.welcome-wrap {
  display: flex;
  gap: 224.2px;
  padding: 62px 109px 62.64px;
}
.welcome-image {
  width: 448.8px;
  height: 407.36px;
}
.welcome-title {
  width: 549px;
  height: 101px;
  margin-bottom: 42px;
  font-family: var(--main-font-family);
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #717171;
}
.welcome-title-highlight {
  color: #499a18;
}
.welcome-text {
  width: 525.44px;
  height: 105px;
  margin: 0 0 48px;
  font-family: var(--main-font-family);
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: #636060;
}
.welcome-button {
  width: 158px;
  height: 44px;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #edf2ec;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: color 0.5s;
}
.welcome-button:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

/* About */
.about {
  height: 666px;
  background-color: #ffffff;
}
.about-wrap {
  display: flex;
  gap: 153px;
  padding: 93px 109px 94px;
}
.about-title {
  width: 463px;
  height: 102px;
  margin: 68px 0 40px;
  font-family: "Inika", serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #499a18;
}
.about-title-highlight {
  color: #e06733;
}
.about-text {
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #636060;
}
.about-image {
  width: 464px;
  height: 479px;
}
