html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
:root {
  --main-font-family: "Inter", sans-serif;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  height: 666px;
  background-color: #edf2ec;
}
.logo-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 688.83px;
  padding: 42px 109px 42px 111px;
}

/* Logo */
.logo-company {
  display: flex;
  align-items: baseline;
  padding-bottom: 6px;
}
.logo {
  width: 20px;
  height: 20px;
  padding-left: 1.05px;
}
.company {
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

/* Navigation */
.nav {
  width: 452px;
  height: 50px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin: 0;
  padding: 0;
}
.nav-item {
  list-style: none;
}
.nav-link {
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #010201;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link:hover {
  color: #e06733;
}

/* Section welcome */
.welcome-wrap {
  display: flex;
  gap: 224.2px;
  padding: 62px 109px 62.64px;
}
.welcome-image {
  width: 448.8px;
  height: 407.36px;
  background-image: url("assets/image/leafs-1.png");
}
.welcome-title {
  width: 549px;
  height: 101px;
  margin-bottom: 42px;
  font-family: var(--main-font-family);
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #717171;
}
.welcome-title-highlight {
  color: #499a18;
}
.welcome-text {
  width: 525.44px;
  height: 105px;
  margin: 0 0 48px;
  font-family: var(--main-font-family);
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: #636060;
}
.welcome-button {
  width: 158px;
  height: 44px;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #edf2ec;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: color 0.5s;
}
.welcome-button:hover {
  color: #ffffff;
  background-color: #e06733;
  cursor: pointer;
}

/* Section about */
.about {
  height: 666px;
  background-color: #ffffff;
}
.about-wrap {
  display: flex;
  gap: 153px;
  padding: 93px 109px 94px;
}
.about-title {
  width: 463px;
  height: 102px;
  margin: 68px 0 40px;
  font-family: "Inika", serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #499a18;
}
.about-title-highlight {
  color: #e06733;
}
.about-text {
  width: 605px;
  height: 208px;
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #636060;
}
.about-image {
  width: 464px;
  height: 479px;
  background-image: url("assets/image/houseplant.png");
}

/* Section service */
.service {
  height: 1300px;
  background-color: #edf2ec;
}
.service-wrap {
  display: flex;
  justify-content: space-between;
  gap: 142px;
  padding: 40px 324px 90px 109px;
}
.service-title {
  margin: 0;
  width: 306px;
  height: 94px;
  font-family: "Inika", serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #499a18;
}
.service-inner {
  display: flex;
  justify-content: space-between;
  gap: 38px;
  padding-top: 29px;
}
.service-button {
  width: 161px;
  height: 50px;
  padding: 12px 40px;
  font-family: "Inika", serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #e06733;
  background-color: #edf2ec;
  border: 1px solid #e06733;
  border-radius: 5px;
  transition: color 0.5s;
}
.service-button:hover {
  color: #ffffff;
  background-color: #e06733;
  cursor: pointer;
}
.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 116px;
  row-gap: 55px;
  padding: 0 109px 121px;
}
.projects-item {
  width: 330px;
  height: 450px;
}
.projects-image {
  width: 330px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}
.first {
  background-image: url("assets/image/first.png");
}
.second {
  background-image: url("assets/image/second.png");
}
.third {
  background-image: url("assets/image/third.png");
}
.fourth {
  background-image: url("assets/image/fourth.png");
}
.fifth {
  background-image: url("assets/image/fifth.png");
}
.sixth {
  background-image: url("assets/image/sixth.png");
}
.projects-inner {
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}
.projects-title {
  margin: 10px 0;
  font-family: var(--main-font-family);
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #e06733;
}
.projects-text {
  margin: 14px 0 34px;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #717171;
}

/* Price */
